<% content_for :title, "#{t('.title')} | archimate" %>
<h2 class="px-16 pt-16 text-center text-base md:text-xl"><%= t(".title") %></h2>
<section>
  <div class="p-12 md:p-24">
    <div class="max-w-md mx-auto">
      <%= form_for(resource, as: resource_name, url: registrations_update_password_path, html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% if resource.guest_user? %>
          <p class="text-sm text-neutral-600"><%= t(".guest_user_notice") %></p>
        <% else %>
          <div class="space-y-2">
            <%= f.label :current_password, t(".current_password"), class: "block text-md text-neutral-600" %>
            <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "current-password", class: "block w-full px-5 py-3 text-neutral-600 placeholder-gray-300 transition duration-200 border border-transparent rounded-full bg-gray-50 focus:border-transparent focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", required: true %>
          </div>
        <% end %>

        <div class="space-y-2 text-md text-neutral-600 <%= resource.guest_user? ? 'mt-6' : 'mt-8' %>">
          <%= f.label :password, t(".new_password") %>
          <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %><%= t("defaults.characters_minimum") %>)</span>
          <% end %>
          <%= f.password_field :password, placeholder: "New Password", autocomplete: "new-password", class: "block w-full px-5 py-3 text-neutral-600 placeholder-gray-300 transition duration-200 border border-transparent rounded-full bg-gray-50 focus:border-transparent focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", required: true %>
        </div>

        <div class="space-y-2">
          <%= f.label :password_confirmation, t(".confirm_new_password"), class: "mt-8 block text-md text-neutral-600" %>
          <%= f.password_field :password_confirmation, placeholder: "New Password Confirmation", autocomplete: "new-password", class: "block w-full px-5 py-3 text-neutral-600 placeholder-gray-300 transition duration-200 border border-transparent rounded-full bg-gray-50 focus:border-transparent focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", required: true %>
        </div>

        <%= f.submit t(".submit"), class: "mt-16 py-4 w-full bg-first text-white transition duration-200 hover:scale-105 rounded-full cursor-pointer" %>
      <% end %>

      <%= link_to t("devise.registrations.edit.title"), edit_user_registration_path, class: "block mt-4 mb-12 text-end text-xs sm:text-sm text-neutral-600 hover:text-first" %>
    </div>
  </div>
</section>
