<% content_for :title, "#{t('.title')} | archimate" %>
<h2 class="px-16 pt-16 text-center text-base md:text-xl"><%= t(".title") %></h2>
<section>
  <div class="p-12 md:p-24">
    <div class="max-w-md mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="space-y-2">
          <%= f.label :email, User.human_attribute_name(:email), class: "block text-md text-neutral-600" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "block w-full px-5 py-3 text-neutral-600 placeholder-gray-300 transition duration-200 border border-transparent rounded-full bg-gray-50 focus:border-transparent focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", required: true %>
        </div>

        <div class="space-y-2">
          <%= f.label :password, User.human_attribute_name(:password), class: "mt-8 block text-md text-neutral-600" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "block w-full px-5 py-3 text-neutral-600 placeholder-gray-300 transition duration-200 border border-transparent rounded-full bg-gray-50 focus:border-transparent focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300", required: true %>
          <div class="pt-2 text-end">
            <%= link_to t(".forget_password"), new_password_path(resource_name), class: "block text-xs sm:text-sm text-neutral-600 hover:text-first" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-6 flex items-center gap-2 text-sm text-neutral-600">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, User.human_attribute_name(:remember_me) %>
          </div>
        <% end %>

        <%= f.submit t(".title"), class: "mt-16 py-4 w-full bg-first text-white transition duration-200 hover:scale-105 rounded-full cursor-pointer" %>
      <% end %>

      <div class="relative my-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-2 text-neutral-600 bg-third"><%= t(".trial") %></span>
        </div>
      </div>

      <div class="relative mb-28">
        <%= link_to t(".guest_login"), users_guest_login_path, data: { turbo_method: :post }, class: "absolute w-full py-4 text-center bg-white border border-first transition duration-200 hover:scale-105 rounded-full cursor-pointer" %>
      </div>

      <div class="relative mb-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-2 text-neutral-600 bg-third"><%= t(".for_beginner") %></span>
        </div>
      </div>

      <div class="relative mb-24">
        <%= link_to t(".to_register_page"), new_registration_path(resource_name), class: "absolute w-full py-4 text-center bg-first text-white transition duration-200 hover:scale-105 rounded-full cursor-pointer" %>
      </div>
    </div>
  </div>
</section>
